html,
body {
  margin: 0;
  padding: 0;
  padding-bottom: 3em;
  font-family: "Open Sans", sans-serif;
}

::selection {
  background: #4a4a4a;
  color: #ffffff;
}

h2 {
  display: block;
  color: #ffffff;
  background: #f8917d;
  background: #36393d;
  padding: 2em;
  margin: 0;
  margin-bottom: 1em;
  text-align: center;
}

pre,
code {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  background: #ededed;
  padding: 0.2em 0.5em;
  border: 1px solid #ffffff;
  white-space: pre-wrap;
}

.link {
  color: #f8856e;
  margin-left: 10px;
  margin-right: 10px;
}

.button-primary {
  margin: auto;
  display: block;
  background: #f8856e;
  padding: 1em 2em;
  color: #ffffff;
  border: 0;
  border-radius: 50px;
  font-size: 14px;
}

.button-primary:hover {
  background: #e5725b;
}

.button-primary:focus {
  outline: none;
}

.problem-result {
  margin-top: 1em;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
}

.problem-explanation {
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  background: #f9f9f9;
  width: 80%;
  line-height: 2;
}
